form {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.form-input {
  font-size: 20px;
  color: grey;
  width: 70%;
  height: 35px;
  margin: 10px;
}

button {
  width: 70%;
  margin-left: 10px;
  height: 35px;
  background: green;
  color: #ffffff;
  border: none;
}